@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply w-2 bg-[#151312]
}
::-webkit-scrollbar-thumb{
    @apply bg-[#353334]
    rounded-full
}


.element {
  overflow-x: scroll;      /* enable scrolling */
  scrollbar-width: none;   /* Firefox */
}

.element::-webkit-scrollbar {
  display: none;           /* Chrome, Edge, Safari */
}